@import "tailwindcss";
@keyframes scanLine {
  0% { top: 0%; }
  100% { top: 100%; }
}

@keyframes slowZoom {
  0% { transform: scale(1.05); }
  50% { transform: scale(1.1); }
  100% { transform: scale(1.05); }
}

.animate-slowZoom {
  animation: slowZoom 20s ease-in-out infinite;
}

@keyframes scanLine {
  0% { top: 0%; }
  100% { top: 100%; }
}

.animate-scanLine {
  animation: scanLine 4s linear infinite;
}


.particles::before {
  content: "";
  position: absolute;
  width: 200%;
  height: 200%;
  background: radial-gradient(circle, rgba(255,0,0,0.3) 1px, transparent 1px);
  background-size: 50px 50px;
  animation: moveParticles 60s linear infinite;
}

@keyframes moveParticles {
  from { transform: translateY(0); }
  to { transform: translateY(-500px); }
}
.perspective {
  perspective: 1200px;
}

.rotate-y-6 {
  transform: rotateY(6deg);
}
